body {
    background: linear-gradient(#340034, #000);
    background-size: cover;
}
.shuffle, .repeat{
    color: #ccc;
    
}

.shuffle:hover, .repeat:hover, .icon:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 200ms ease-in-out;
}
.shuffle:active, .repeat:active{
    color: #1db954 ;
}


.playButton{
    margin: 20px 0 20px 50px;

}

.playButton:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 200ms ease-in-out;
}